# Node modules
node_modules/

# Environment variables
.env

# Uploads folder (optional: if you want to keep uploads outside Git)
uploads/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Next.js / build files (if frontend in same repo)
.next/
out/
